<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/nav.css">
    <link rel="stylesheet" href="../style/admin.css">
    <title>Obtener ticket</title>
</head>
<body>
    <nav>
        <li>
            <lu><img src="" alt=""></lu>
            <lu><a href="home.html">Home</a></lu>
            <lu><a href="agendar_cita.html">Agendar cita</a></lu>
            <lu><a href="cita.html">Citas</a></lu>
            <lu><a href="ticket.html">Obtener ticket</a></lu>
            <lu><a href="login.html" class="sesion">Iniciar sesion</a></lu>
        </li>
    </nav>
    <main>
        <section class="container">
                <article class="info-ticket">
                    <h1>Apartado administrados</h1>
                    <p>En esta sección, tienes la opción de descargar el listado de las personas que cancelaron las citas. 
                        Este listado estará disponible en formato PDF. Además, también puedes descargar un listado de todas 
                        las citas que han sido agendadas.</p>
                </article>
                <article class="reportes">
                    <div class="cancelados">
                        <h1>Tu turno</h1>
                        <h2>10</h2>
                    </div>
                    <div class="reporte">
                        <h1>Tu turno</h1>
                        <h2>10</h2>
                    </div>
                </article>
                
        </section>
    </main>
</body>

</html>