<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/cita.css">
    <title>Citas</title>
</head>
<body>
    <nav>
        <ul>
            <li><img src="" alt=""></li>
            <li><a href="home.html">Home</a></li>
            <li><a href="agendar_cita.html">Agendar cita</a></li>
            <li><a href="cita.html">Citas</a></li>
            <li><a href="ticket.html">Obtener ticket</a></li>
            <li><a href="login.html" class="sesion">Iniciar sesión</a></li>
        </ul>
    </nav>
    <main>
        <section class="container">
                <article class="search">
                    <h1>Ingresa tu número de identifiación</h1>
                    <form action="">
                        <input type="text" placeholder="Ingresa tu número de identificación">
                        <input type="submit" value="Buscar cita" class="buscar">
                    </form>
                    
                </article>
                    <article class="cita">
                        <i class="bi bi-person-circle user"></i>
                        <p>Juan Diego Quintana Reyes</p>
                        <p>8:00 AM</p>
                        <div class="button">
                            <button class="modificar">Modificar cita</button>
                            <button class="cancelar">Cancelar cita</button>    
                        </div>
                    </article>
                    <article class="cita">
                        <i class="bi bi-person-circle user"></i>
                        <p>Juan Diego Quintana Reyes</p>
                        <p>8:00 AM</p>
                        <div class="button">
                            <button class="modificar">Modificar cita</button>
                            <button class="cancelar">Cancelar cita</button>    
                        </div>
                    </article>
                    <article class="cita">
                        <i class="bi bi-person-circle user"></i>
                        <p>Juan Diego Quintana Reyes</p>
                        <p>8:00 AM</p>
                        <div class="button">
                            <button class="modificar">Modificar cita</button>
                            <button class="cancelar">Cancelar cita</button>    
                        </div>
                    </article>
        </section>
    </main>
</body>

</html>