<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/home.css">
    <title>CAC-UPB</title>
</head>
<body>
    <nav>
        <li>
            <lu><img src="" alt=""></lu>
            <lu><a href="">Home</a></lu>
            <lu><a href="agendar_cita.html">Agendar cita</a></lu>
            <lu><a href="">Citas</a></lu>
            <lu><a href="">Obtener ticket</a></lu>
            <lu><a href="" class="sesion">Iniciar sesion</a></lu>
        </li>
    </nav>
    <main>
        <section class="text-person">
            <article class="container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima assumenda, tenetur distinctio modi blanditiis nemo fuga reiciendis earum, eaque dolore labore impedit expedita placeat voluptatum. Optio exercitationem possimus architecto ad.</p>
                <img src="../imagenes/hombre.png" alt="">    
            </article>
        </section>
    </main>
</body>

</html>