:root{
    --color_primary: #6284FF;
    --color_secundary: white;
    --color_button_cancelar: #D62C2C;
}
body{
    background-image: url(../imagenes/fondo.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; 
}
.circle{
    height: 450px;
    width: 450px;
    background-color: var(--color_primary);
    border-radius: 50%;
}
nav {
    background-color: var(--color_primary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 30px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    margin: 0 10px; /* Ajusta el espacio entre los elementos de la lista */
}

li a {
    color: var(--color_secundary);
    text-decoration: none;
}

.sesion {
    background-color: var(--color_secundary);
    border: transparent;
    border-radius: 15px;
    padding: 5px 25px;
    color: black;
    text-decoration: none; /* Asegura que el enlace no tenga subrayado */
}.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    text-align: center;
}
.container h1{
    font-size: 32px;
}
.search {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.40);
    flex-direction: column;
    padding: 20px 50px;
    border-radius: 25px;
    gap: 50px;
    width: 30%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
article input{
    background-color: var(--color_secundary);
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.40);
    font-size: 17px;
}
.buscar{
    background-color: var(--color_primary);
    border: transparent;
    border-radius: 10px;
    padding: 5px;
    color: white;
    width: 40%;
    font-size: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.40);
    cursor: pointer;
    position: relative;
    left: 30%;
}
.cita{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.40);
    flex-direction: row;
    border-radius: 25px;
    width: 50%;
    padding: 10px 10px;
    margin-top: 50px;
}
.user{
    font-size: 2.5rem;
}
.modificar{
    background-color: var(--color_primary);
    color: white;
    border: transparent;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
}
.cancelar{
    background-color: var(--color_button_cancelar);
    color: white;
        border: transparent;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
}
