nav{
    background-color: var(--color_primary);
    display: flex; /*arreglar esto*/
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 30px;
    position: fixed;
    left: 50%; 
    transform: translateX(-50%); 
    margin-top: 15px;
    z-index: 1;
}
li{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 30px;
}
a{
    text-decoration: none;
}
.opcion{
    color: var(--color_secundary);
    text-decoration: none;
    font-size: 20px;
}
.opcion:hover{
    text-decoration: underline;
}
.logo{
    height: 25px;
}
.sesion{
    background-color: var(--color_secundary);
    border: transparent;
    border-radius: 15px;
    padding: 5px 25px;
    color: black;
}
footer {
    background-color: #283747;
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.social-icon {
    color: #ecf0f1;
    font-size: 24px;
    text-decoration: none;
}
.footer-logo {
    margin: 10px 0;
}
.footer-logo img{
    height: 30px;
}

.footer-links {
    display: flex;
    gap: 10px;
}

.footer-links a {
    color: #ecf0f1;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links span {
    color: #ecf0f1;
}